<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News API</title>
    <style>
      body {
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      h1 {
        font-size: 4rem;
      }
      a {
        font-size: larger;
        color: white;
      }
    </style>
  </head>
  <body>
    <h1>News API</h1>
    <p>Get all the latest news.</p>
    <ul>
      <li><a href="/latest">Latest</a></li>
      <li><a href="/india">India</a></li>
      <li><a href="/entertainment">Entertainment</a></li>
      <li><a href="/science">Science</a></li>
      <li><a href="/world">World</a></li>
      <li><a href="/cricket">Cricket</a></li>
    </ul>
    <span>Source: </span
    ><a href="https://www.hindustantimes.com/" style="color: wheat"
      >Hindustantimes</a
    >
  </body>
</html>
