<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News API</title>
    <style>
      body {
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      h1 {
        font-size: 4rem;
      }
      a {
        font-size: larger;
        color: white;
      }
    </style>
  </head>
  <body>
    <h1>A News Scraper API</h1>
    <p>Get all the latest news.</p>
    <ul>
      <li><a href="https://latestnewsapi.vercel.app/latest">https://latestnewsapi.vercel.app/latest</a></li>
      <li><a href="https://latestnewsapi.vercel.app/india">https://latestnewsapi.vercel.app/india</a></li>
      <li><a href="https://latestnewsapi.vercel.app/entertainment">https://latestnewsapi.vercel.app/entertainment</a></li>
      <li><a href="https://latestnewsapi.vercel.app/science">https://latestnewsapi.vercel.app/science</a></li>
      <li><a href="https://latestnewsapi.vercel.app/world">https://latestnewsapi.vercel.app/world</a></li>
      <li><a href="https://latestnewsapi.vercel.app/cricket">https://latestnewsapi.vercel.app/cricket</a></li>
    </ul>
    <p>This api scrapes a news website for getting latest news data</p>
    <span>Source: </span
    ><a href="https://www.hindustantimes.com/" style="color: wheat"
      >Hindustantimes</a
    >
  </body>
</html>
